body{
   background-image: url(img/fo\ kep.jpg);
}

p{
    color: black;
  }
  h1{
    text-align: center;
    margin-left: auto;
    text-shadow: 2px 2px #ff0000;
    font-style: italic;
  }
  div {
    height: 100px;
    width: 500px }
  h2{
    margin-left: 0%;
    font-style: italic;
  
  }img{
    height: 200px;
    width: 300px;
    float: right;
  }
  p {
    background-color: black;
    color: white;
  }
  ol {
    background-color: black;
    color: white;
  }
